# Ejercicios sobre Pandas

In [2]:
import pandas as pd

In [92]:
# Carga tu archivo de datos aquí abajo:
nuclear_incidents = pd.read_csv(r'Nuclear_Incidents.csv',sep=',', encoding='utf-8',thousands=",")

In [89]:
nuclear_incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        28 non-null     object
 1   Location                    28 non-null     object
 2   Incident                    28 non-null     object
 3   Category                    28 non-null     object
 4   Numbers of Direct Deaths    26 non-null     float64
 5   Numbers of InDirect Deaths  3 non-null      float64
 6   INES
level                  16 non-null     float64
 7   Latitude                    28 non-null     float64
 8   Longitude                   28 non-null     float64
dtypes: float64(5), object(4)
memory usage: 2.1+ KB

In [93]:
nuclear_incidents.iloc[11]

Date                                                                 26/04/1986
Location                      Chernobyl, Chernobyl Raion (now Vyshhorod Raio...
Incident                                                     Chernobyl disaster
Category                                               Design/Safety Procedures
Numbers of Direct Deaths                                                   28.0
Numbers of InDirect Deaths                                               4000.0
INES\nlevel                                                                 7.0
Latitude                                                                51.2763
Longitude                                                               30.2219
Name: 11, dtype: object

### Ejercicio 1:
* Muestra la cantidad de registros para cada país ('Location').

In [94]:
nuclear_incidents['Location '].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: Location
Non-Null Count  Dtype
--------------  -----
28 non-null     object
dtypes: object(1)
memory usage: 356.0+ bytes

In [95]:
nuclear_incidents = nuclear_incidents.rename(columns= {'Location ': 'location'})

In [96]:
nuclear_incidents.columns

Index(['Date', 'location', 'Incident', 'Category', 'Numbers of Direct Deaths',
       'Numbers of InDirect Deaths', 'INES\nlevel', 'Latitude', 'Longitude'],
      dtype='object')

In [97]:
nuclear_incidents['country'] = nuclear_incidents['location'].str.split(',').str[-1]
nuclear_incidents.head(5)

,Date,location,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,Latitude,Longitude,country
0,29/09/1957,"Mayak, Kyshtym, Soviet Union",Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,55.7131,60.8526,Soviet Union
1,10/10/1957,"Sellafield, Cumberland, United Kingdom",Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,54.4167,-3.4833,United Kingdom
2,03/01/1961,"Idaho Falls, Idaho, United States",SL-1 prototype explosion,Operator Error,3.0,NaN,4.0,43.4920,-112.0401,United States
3,05/10/1966,"Frenchtown Charter Township, Michigan, United ...",Fermi 1 Reactor meltdown,Technical Flaws,0.0,NaN,4.0,41.9562,-83.6639,United States
4,21/01/1969,"Lucens reactor, Vaud, Switzerland","Loss-of-Coolant Accident (January 21, 1969)",Operator Error,0.0,NaN,4.0,46.6772,6.8750,Switzerland

### Ejercicio 2:
* Eliminar las columnas 'Longitude', 'Latitude' y 'Location' y mostrar las 2 primeras filas del Dataframe.

In [98]:
nuclear_incidents = nuclear_incidents.drop(['Latitude', 'Longitude','location'], axis=1)

In [99]:
nuclear_incidents.head(2)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country
0,29/09/1957,Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,Soviet Union
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom

### Ejercicio 3:
* Muestra la cantidad de veces que se repiten los años en la columna 'Date'.

In [100]:
nuclear_incidents['Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: Date
Non-Null Count  Dtype
--------------  -----
28 non-null     object
dtypes: object(1)
memory usage: 356.0+ bytes

In [101]:
year = pd.to_datetime(nuclear_incidents['Date']).dt.year # dt.year extrae de cada registro de fecha solo el valor del anio

C:\Users\Florencia\AppData\Local\Temp\ipykernel_11232\476751047.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  year = pd.to_datetime(nuclear_incidents['Date']).dt.year # dt.year extrae de cada registro de fecha solo el valor del anio

In [102]:
year.value_counts()

Date
1986    4
1957    2
1996    2
1989    2
1987    2
2011    2
1976    1
1979    1
1984    1
1985    1
1975    1
1961    1
1969    1
1992    1
1966    1
1999    1
2002    1
2003    1
2004    1
2006    1
Name: count, dtype: int64

### Ejercicio 4:
* Crea una nueva columna llamada 'Severity' que sea la suma de las columnas 'INES level' y 'Numbers of Direct Deaths'.

In [103]:
nuclear_incidents['severity'] = nuclear_incidents['INES\nlevel']+nuclear_incidents['Numbers of Direct Deaths']

In [104]:
nuclear_incidents[['INES\nlevel','Numbers of Direct Deaths']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   INES
level                16 non-null     float64
 1   Numbers of Direct Deaths  26 non-null     float64
dtypes: float64(2)
memory usage: 580.0 bytes

In [105]:
nuclear_incidents.head(2)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country,severity
0,29/09/1957,Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,Soviet Union,NaN
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom,5.0

In [57]:
nuclear_incidents.severity.info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: severity
Non-Null Count  Dtype
--------------  -----
15 non-null     float64
dtypes: float64(1)
memory usage: 356.0 bytes

### Ejercicio 5:
* Crear una nueva columna, que se denomine "Total Deaths", que guarde la sumatoria de las columnas 'Numbers of Direct Deaths' y 'Numbers of InDirect Deaths'. Informar el total de muertes para el incidente más grave (mayor 'Total Deaths').

In [65]:
import numpy as np

In [106]:
nuclear_incidents['Numbers of InDirect Deaths'].replace(" ",np.nan) # este deberia haber sido el codigo

0      200.0
1      240.0
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11    4000.0
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
Name: Numbers of InDirect Deaths, dtype: float64

In [107]:
nuclear_incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        28 non-null     object
 1   Incident                    28 non-null     object
 2   Category                    28 non-null     object
 3   Numbers of Direct Deaths    26 non-null     float64
 4   Numbers of InDirect Deaths  3 non-null      float64
 5   INES
level                  16 non-null     float64
 6   country                     28 non-null     object
 7   severity                    15 non-null     float64
dtypes: float64(4), object(4)
memory usage: 1.9+ KB

In [108]:
nuclear_incidents['Numbers of InDirect Deaths'].replace("nan",np.nan)
nuclear_incidents['Numbers of InDirect Deaths'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: Numbers of InDirect Deaths
Non-Null Count  Dtype
--------------  -----
3 non-null      float64
dtypes: float64(1)
memory usage: 356.0 bytes

In [121]:
nuclear_incidents[nuclear_incidents['Numbers of InDirect Deaths'] > 0]

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country,severity,total_deaths
0,29/09/1957,Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,Soviet Union,NaN,NaN
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom,5.0,240.0
11,26/04/1986,Chernobyl disaster,Design/Safety Procedures,28.0,4000.0,7.0,Soviet Union,35.0,4028.0

In [127]:
nuclear_incidents_2 =pd.DataFrame(nuclear_incidents['Numbers of Direct Deaths'].fillna(0))
nuclear_incidents_2 
nuclear_incidents_2['Numbers of InDirect Deaths'] = nuclear_incidents['Numbers of InDirect Deaths'].fillna(0)
nuclear_incidents_2.head(3)

   Numbers of Direct Deaths  Numbers of InDirect Deaths
0                       0.0                       200.0
1                       0.0                       240.0
2                       3.0                         0.0

In [128]:
nuclear_incidents['Numbers of InDirect Deaths'] = nuclear_incidents['Numbers of InDirect Deaths'].fillna(0)
nuclear_incidents['Numbers of Direct Deaths'] = nuclear_incidents['Numbers of Direct Deaths'].fillna(0)

In [129]:
nuclear_incidents['total_deaths'] = nuclear_incidents['Numbers of Direct Deaths']+ nuclear_incidents['Numbers of InDirect Deaths']
nuclear_incidents['total_deaths'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: total_deaths
Non-Null Count  Dtype
--------------  -----
28 non-null     float64
dtypes: float64(1)
memory usage: 356.0 bytes

In [131]:
nuclear_incidents.head(2)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country,severity,total_deaths
0,29/09/1957,Kyshtym disaster,Storage/Handling,0.0,200.0,6.0,Soviet Union,NaN,200.0
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom,5.0,240.0

In [138]:
nuclear_incidents['total_deaths'].idxmax()

11

In [139]:
nuclear_incidents.loc[11]

Date                                        26/04/1986
Incident                            Chernobyl disaster
Category                      Design/Safety Procedures
Numbers of Direct Deaths                          28.0
Numbers of InDirect Deaths                      4000.0
INES\nlevel                                        7.0
country                                   Soviet Union
severity                                          35.0
total_deaths                                    4028.0
Name: 11, dtype: object

### Ejercicio 6:
* Mostrar la cantidad de incidentes nucleares en cada categoría ('Category').

### Ejercicio 7:
* Filtrar el DataFrame para mostrar solo los incidentes ocurridos en Estados Unidos ('Pais').

### Ejercicio 8:
* Calcular la cantidad total de muertes directas por incidente nuclear para cada año.

### Ejercicio 9:
* Mostrar la cantidad de incidentes nucleares en cada país en los que el nivel INES es mayor a 5.

### Ejercicio 10:
* Calcular la cantidad de muertes directas totales de Estados Unidos.