# Ejercicios sobre Pandas

In [5]:
import pandas as pd

In [6]:
# Carga tu archivo de datos aquí abajo:
nuclear_incidents = pd.read_csv('Nuclear_Incidents.csv',sep=',', encoding='utf-8',thousands=",")

In [7]:
nuclear_incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        28 non-null     object
 1   Location                    28 non-null     object
 2   Incident                    28 non-null     object
 3   Category                    28 non-null     object
 4   Numbers of Direct Deaths    26 non-null     float64
 5   Numbers of InDirect Deaths  3 non-null      float64
 6   INES
level                  16 non-null     float64
 7   Latitude                    28 non-null     float64
 8   Longitude                   28 non-null     float64
dtypes: float64(5), object(4)
memory usage: 2.1+ KB

In [8]:
nuclear_incidents.iloc[11]

Date                                                                 26/04/1986
Location                      Chernobyl, Chernobyl Raion (now Vyshhorod Raio...
Incident                                                     Chernobyl disaster
Category                                               Design/Safety Procedures
Numbers of Direct Deaths                                                   28.0
Numbers of InDirect Deaths                                               4000.0
INES\nlevel                                                                 7.0
Latitude                                                                51.2763
Longitude                                                               30.2219
Name: 11, dtype: object

### Ejercicio 1:
* Muestra la cantidad de registros para cada país ('Location').

In [9]:
nuclear_incidents['Location '].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: Location
Non-Null Count  Dtype
--------------  -----
28 non-null     object
dtypes: object(1)
memory usage: 356.0+ bytes

In [10]:
nuclear_incidents = nuclear_incidents.rename(columns= {'Location ': 'location'})

In [11]:
nuclear_incidents.columns

Index(['Date', 'location', 'Incident', 'Category', 'Numbers of Direct Deaths',
       'Numbers of InDirect Deaths', 'INES\nlevel', 'Latitude', 'Longitude'],
      dtype='object')

In [12]:
nuclear_incidents['country'] = nuclear_incidents['location'].str.split(',').str[-1]
nuclear_incidents.head(5)

,Date,location,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,Latitude,Longitude,country
0,29/09/1957,"Mayak, Kyshtym, Soviet Union",Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,55.7131,60.8526,Soviet Union
1,10/10/1957,"Sellafield, Cumberland, United Kingdom",Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,54.4167,-3.4833,United Kingdom
2,03/01/1961,"Idaho Falls, Idaho, United States",SL-1 prototype explosion,Operator Error,3.0,NaN,4.0,43.4920,-112.0401,United States
3,05/10/1966,"Frenchtown Charter Township, Michigan, United ...",Fermi 1 Reactor meltdown,Technical Flaws,0.0,NaN,4.0,41.9562,-83.6639,United States
4,21/01/1969,"Lucens reactor, Vaud, Switzerland","Loss-of-Coolant Accident (January 21, 1969)",Operator Error,0.0,NaN,4.0,46.6772,6.8750,Switzerland

### Ejercicio 2:
* Eliminar las columnas 'Longitude', 'Latitude' y 'Location' y mostrar las 2 primeras filas del Dataframe.

In [13]:
nuclear_incidents = nuclear_incidents.drop(['Latitude', 'Longitude','location'], axis=1)

In [14]:
nuclear_incidents.head(2)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country
0,29/09/1957,Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,Soviet Union
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom

### Ejercicio 3:
* Muestra la cantidad de veces que se repiten los años en la columna 'Date'.

In [15]:
nuclear_incidents['Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: Date
Non-Null Count  Dtype
--------------  -----
28 non-null     object
dtypes: object(1)
memory usage: 356.0+ bytes

In [16]:
year = pd.to_datetime(nuclear_incidents['Date']).dt.year # dt.year extrae de cada registro de fecha solo el valor del anio

C:\Users\Florencia\AppData\Local\Temp\ipykernel_7640\476751047.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  year = pd.to_datetime(nuclear_incidents['Date']).dt.year # dt.year extrae de cada registro de fecha solo el valor del anio

In [17]:
year.value_counts()

Date
1986    4
1957    2
1996    2
1989    2
1987    2
2011    2
1976    1
1979    1
1984    1
1985    1
1975    1
1961    1
1969    1
1992    1
1966    1
1999    1
2002    1
2003    1
2004    1
2006    1
Name: count, dtype: int64

In [69]:
nuclear_incidents['year'] = pd.to_datetime(nuclear_incidents['Date']).dt.year
nuclear_incidents

C:\Users\Florencia\AppData\Local\Temp\ipykernel_7640\407870652.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  nuclear_incidents['year'] = pd.to_datetime(nuclear_incidents['Date']).dt.year

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country,severity,total_deaths,year
0,29/09/1957,Kyshtym disaster,Storage/Handling,0.0,200.0,6.0,Soviet Union,NaN,200.0,1957
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom,5.0,240.0,1957
2,03/01/1961,SL-1 prototype explosion,Operator Error,3.0,0.0,4.0,United States,7.0,3.0,1961
3,05/10/1966,Fermi 1 Reactor meltdown,Technical Flaws,0.0,0.0,4.0,United States,4.0,0.0,1966
4,21/01/1969,"Loss-of-Coolant Accident (January 21, 1969)",Operator Error,0.0,0.0,4.0,Switzerland,4.0,0.0,1969
5,07/12/1975,Greifswald Nuclear Power Plant fire,Electrical Error,0.0,0.0,3.0,East Germany,3.0,0.0,1975
6,05/01/1976,Fuel Rod Ejection during Fuel Replacement,Operator Error,2.0,0.0,4.0,Czechoslovakia,6.0,2.0,1976
7,28/03/1979,Partial Core Meltdown (Operator Errors),Operator/Technical Flaws,0.0,0.0,5.0,United States,5.0,0.0,1979
8,15/09/1984,Browns Ferry Unit 2 Outage (Six-Year,Safety Violations/Design Problems,0.0,0.0,NaN,United States,NaN,0.0,1984
9,09/03/1985,Browns Ferry Units Startup Malfunction,Instrumentation Malfunction,0.0,0.0,NaN,United States,NaN,0.0,1985
10,11/04/1986,Pilgrim Nuclear Power Plant Emergency Shutdown,Equipment Problems,0.0,0.0,NaN,United States,NaN,0.0,1986
11,26/04/1986,Chernobyl disaster,Design/Safety Procedures,28.0,4000.0,7.0,Soviet Union,35.0,4028.0,1986
12,04/05/1986,THTR-300 reactor,Experimental Operation,0.0,0.0,NaN,West Germany,NaN,0.0,1986
13,09/12/1986,Surry Nuclear Power Plant pipe break,Equipment Failure,4.0,0.0,NaN,United States,NaN,4.0,1986
14,31/03/1987,Peach Bottom units shutdown,Cooling Malfunctions,0.0,0.0,NaN,United States,NaN,0.0,1987
15,19/12/1987,Niagara Mohawk Power Corporation shutdown,Malfunctions,0.0,0.0,NaN,United States,NaN,0.0,1987
16,17/03/1989,Calvert Cliff Units extended shutdown,Inspection Findings,0.0,0.0,NaN,United States,NaN,0.0,1989
17,19/10/1989,Vandellòs nuclear power plant accident,Cooling System Failure,0.0,0.0,3.0,Spain,3.0,0.0,1989
18,01/03/1992,Sosnovy Bor nuclear plant accident,Equipment Rupture,0.0,0.0,NaN,Russia,NaN,0.0,1992
19,20/02/1996,Millstone Nuclear Power Plant shutdown,Valve Leak,0.0,0.0,NaN,United States,NaN,0.0,1996
20,02/09/1996,Crystal River Unit 3 shutdown,Equipment Malfunction,0.0,0.0,NaN,United States,NaN,0.0,1996
21,30/09/1999,Tokaimura nuclear accident,Operational/Safety Procedures,2.0,0.0,4.0,Japan,6.0,2.0,1999
22,16/02/2002,Davis-Besse reactor outage,Corrosion,0.0,0.0,3.0,United States,3.0,0.0,2002
23,10/04/2003,Paks Nuclear Power Plant fuel rod collapse,Corrosion Cleaning,0.0,0.0,3.0,Hungary,3.0,0.0,2003
24,09/08/2004,Mihama Nuclear Power Plant explosion,Steam Explosion,4.0,0.0,1.0,Japan,5.0,4.0,2004
25,25/07/2006,Forsmark Nuclear Power Plant electrical fault,Safety Systems Failure,0.0,0.0,2.0,Sweden,2.0,0.0,2006
26,11/03/2011,Fukushima nuclear disaster,Natural Disaster/Operational Failure,4.0,0.0,7.0,Japan,11.0,4.0,2011
27,12/09/2011,Marcoule Nuclear Site blast,Industrial Accident,1.0,0.0,NaN,France,NaN,1.0,2011

### Ejercicio 4:
* Crea una nueva columna llamada 'Severity' que sea la suma de las columnas 'INES level' y 'Numbers of Direct Deaths'.

In [18]:
nuclear_incidents['severity'] = nuclear_incidents['INES\nlevel']+nuclear_incidents['Numbers of Direct Deaths']

In [19]:
nuclear_incidents[['INES\nlevel','Numbers of Direct Deaths']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   INES
level                16 non-null     float64
 1   Numbers of Direct Deaths  26 non-null     float64
dtypes: float64(2)
memory usage: 580.0 bytes

In [20]:
nuclear_incidents.head(2)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country,severity
0,29/09/1957,Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,Soviet Union,NaN
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom,5.0

In [21]:
nuclear_incidents.severity.info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: severity
Non-Null Count  Dtype
--------------  -----
15 non-null     float64
dtypes: float64(1)
memory usage: 356.0 bytes

### Ejercicio 5:
* Crear una nueva columna, que se denomine "Total Deaths", que guarde la sumatoria de las columnas 'Numbers of Direct Deaths' y 'Numbers of InDirect Deaths'. Informar el total de muertes para el incidente más grave (mayor 'Total Deaths').

In [22]:
import numpy as np

In [23]:
nuclear_incidents['Numbers of InDirect Deaths'].replace(" ",np.nan) # este deberia haber sido el codigo

0      200.0
1      240.0
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11    4000.0
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
Name: Numbers of InDirect Deaths, dtype: float64

In [24]:
nuclear_incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        28 non-null     object
 1   Incident                    28 non-null     object
 2   Category                    28 non-null     object
 3   Numbers of Direct Deaths    26 non-null     float64
 4   Numbers of InDirect Deaths  3 non-null      float64
 5   INES
level                  16 non-null     float64
 6   country                     28 non-null     object
 7   severity                    15 non-null     float64
dtypes: float64(4), object(4)
memory usage: 1.9+ KB

In [25]:
nuclear_incidents['Numbers of InDirect Deaths'].replace("nan",np.nan)
nuclear_incidents['Numbers of InDirect Deaths'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: Numbers of InDirect Deaths
Non-Null Count  Dtype
--------------  -----
3 non-null      float64
dtypes: float64(1)
memory usage: 356.0 bytes

In [26]:
nuclear_incidents[nuclear_incidents['Numbers of InDirect Deaths'] > 0]

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country,severity
0,29/09/1957,Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,Soviet Union,NaN
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom,5.0
11,26/04/1986,Chernobyl disaster,Design/Safety Procedures,28.0,4000.0,7.0,Soviet Union,35.0

In [27]:
nuclear_incidents_2 =pd.DataFrame(nuclear_incidents['Numbers of Direct Deaths'].fillna(0))
nuclear_incidents_2 
nuclear_incidents_2['Numbers of InDirect Deaths'] = nuclear_incidents['Numbers of InDirect Deaths'].fillna(0)
nuclear_incidents_2.head(3)

   Numbers of Direct Deaths  Numbers of InDirect Deaths
0                       0.0                       200.0
1                       0.0                       240.0
2                       3.0                         0.0

In [28]:
nuclear_incidents['Numbers of InDirect Deaths'] = nuclear_incidents['Numbers of InDirect Deaths'].fillna(0) # los llenamos de 0 los nan porque sino no suma cuando totaliza
nuclear_incidents['Numbers of Direct Deaths'] = nuclear_incidents['Numbers of Direct Deaths'].fillna(0)

In [29]:
nuclear_incidents['total_deaths'] = nuclear_incidents['Numbers of Direct Deaths']+ nuclear_incidents['Numbers of InDirect Deaths']
nuclear_incidents['total_deaths'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: total_deaths
Non-Null Count  Dtype
--------------  -----
28 non-null     float64
dtypes: float64(1)
memory usage: 356.0 bytes

In [30]:
nuclear_incidents.head(2)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country,severity,total_deaths
0,29/09/1957,Kyshtym disaster,Storage/Handling,0.0,200.0,6.0,Soviet Union,NaN,200.0
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom,5.0,240.0

In [31]:
nuclear_incidents['total_deaths'].idxmax() # devuelve el indice donde esta el maximo valor de muertes totales

11

In [32]:
nuclear_incidents.loc[11] # devuelve / muestra el registro que en la ubicacion/indice 11

Date                                        26/04/1986
Incident                            Chernobyl disaster
Category                      Design/Safety Procedures
Numbers of Direct Deaths                          28.0
Numbers of InDirect Deaths                      4000.0
INES\nlevel                                        7.0
country                                   Soviet Union
severity                                          35.0
total_deaths                                    4028.0
Name: 11, dtype: object

### Ejercicio 6:
* Mostrar la cantidad de incidentes nucleares en cada categoría ('Category').

In [35]:
nuclear_incidents.Category.nunique()

26

In [34]:
nuclear_incidents.Category.value_counts()

Category
Operator Error                          3
Storage/Handling                        1
Inspection Findings                     1
Natural Disaster/Operational Failure    1
Safety Systems Failure                  1
Steam Explosion                         1
Corrosion Cleaning                      1
Corrosion                               1
Operational/Safety Procedures           1
Equipment Malfunction                   1
Valve Leak                              1
Equipment Rupture                       1
Cooling System Failure                  1
Malfunctions                            1
Operational/Safety Measures             1
Cooling Malfunctions                    1
Equipment Failure                       1
Experimental Operation                  1
Design/Safety Procedures                1
Equipment Problems                      1
Instrumentation Malfunction             1
Safety Violations/Design Problems       1
Operator/Technical Flaws                1
Electrical Error                        1
Technical Flaws                         1
Industrial Accident                     1
Name: count, dtype: int64

### Ejercicio 7:
* Filtrar el DataFrame para mostrar solo los incidentes ocurridos en Estados Unidos ('Pais').

In [55]:
nuclear_incidents.head(5)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country,severity,total_deaths
0,29/09/1957,Kyshtym disaster,Storage/Handling,0.0,200.0,6.0,Soviet Union,NaN,200.0
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,United Kingdom,5.0,240.0
2,03/01/1961,SL-1 prototype explosion,Operator Error,3.0,0.0,4.0,United States,7.0,3.0
3,05/10/1966,Fermi 1 Reactor meltdown,Technical Flaws,0.0,0.0,4.0,United States,4.0,0.0
4,21/01/1969,"Loss-of-Coolant Accident (January 21, 1969)",Operator Error,0.0,0.0,4.0,Switzerland,4.0,0.0

In [38]:
nuclear_incidents['country'].value_counts()

country
 United States     13
 Japan              3
 Soviet Union       2
 United Kingdom     1
 Switzerland        1
 East Germany       1
 Czechoslovakia     1
 West Germany       1
 Spain              1
 Russia             1
 Hungary            1
 Sweden             1
 France             1
Name: count, dtype: int64

In [73]:
nuclear_incidents['country'] = nuclear_incidents['country'].str.strip(" ") # hay que eliminar los white_space para poder visualizar la informacion bien

In [74]:
nuclear_incidents[nuclear_incidents['country'] =='United States']
results = nuclear_incidents.loc[nuclear_incidents["country"].isin(['United States'])]
results

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,country,severity,total_deaths,year
2,03/01/1961,SL-1 prototype explosion,Operator Error,3.0,0.0,4.0,United States,7.0,3.0,1961
3,05/10/1966,Fermi 1 Reactor meltdown,Technical Flaws,0.0,0.0,4.0,United States,4.0,0.0,1966
7,28/03/1979,Partial Core Meltdown (Operator Errors),Operator/Technical Flaws,0.0,0.0,5.0,United States,5.0,0.0,1979
8,15/09/1984,Browns Ferry Unit 2 Outage (Six-Year,Safety Violations/Design Problems,0.0,0.0,NaN,United States,NaN,0.0,1984
9,09/03/1985,Browns Ferry Units Startup Malfunction,Instrumentation Malfunction,0.0,0.0,NaN,United States,NaN,0.0,1985
10,11/04/1986,Pilgrim Nuclear Power Plant Emergency Shutdown,Equipment Problems,0.0,0.0,NaN,United States,NaN,0.0,1986
13,09/12/1986,Surry Nuclear Power Plant pipe break,Equipment Failure,4.0,0.0,NaN,United States,NaN,4.0,1986
14,31/03/1987,Peach Bottom units shutdown,Cooling Malfunctions,0.0,0.0,NaN,United States,NaN,0.0,1987
15,19/12/1987,Niagara Mohawk Power Corporation shutdown,Malfunctions,0.0,0.0,NaN,United States,NaN,0.0,1987
16,17/03/1989,Calvert Cliff Units extended shutdown,Inspection Findings,0.0,0.0,NaN,United States,NaN,0.0,1989
19,20/02/1996,Millstone Nuclear Power Plant shutdown,Valve Leak,0.0,0.0,NaN,United States,NaN,0.0,1996
20,02/09/1996,Crystal River Unit 3 shutdown,Equipment Malfunction,0.0,0.0,NaN,United States,NaN,0.0,1996
22,16/02/2002,Davis-Besse reactor outage,Corrosion,0.0,0.0,3.0,United States,3.0,0.0,2002

### Ejercicio 8:
* Calcular la cantidad total de muertes directas por incidente nuclear para cada año.

In [82]:
nuclear_incidents['Numbers of Direct Deaths'].value_counts()

Numbers of Direct Deaths
0.0     20
4.0      3
2.0      2
3.0      1
28.0     1
1.0      1
Name: count, dtype: int64

In [81]:
total_nbr_direct_death_per_year = pd.DataFrame(nuclear_incidents.groupby('year')['Numbers of Direct Deaths'].sum())
total_nbr_direct_death_per_year

      Numbers of Direct Deaths
year
1957                       0.0
1961                       3.0
1966                       0.0
1969                       0.0
1975                       0.0
1976                       2.0
1979                       0.0
1984                       0.0
1985                       0.0
1986                      32.0
1987                       0.0
1989                       0.0
1992                       0.0
1996                       0.0
1999                       2.0
2002                       0.0
2003                       0.0
2004                       4.0
2006                       0.0
2011                       5.0

### Ejercicio 9:
* Mostrar la cantidad de incidentes nucleares en cada país en los que el nivel INES es mayor a 5.

In [85]:
nuclear_incidents[nuclear_incidents[ 'INES\nlevel'] > 5][ 'country'].value_counts()

country
Soviet Union    2
Japan           1
Name: count, dtype: int64

### Ejercicio 10:
* Calcular la cantidad de muertes directas totales de Estados Unidos.

In [91]:
nuclear_incidents[nuclear_incidents['country'] == 'United States']['Numbers of Direct Deaths']

2     3.0
3     0.0
7     0.0
8     0.0
9     0.0
10    0.0
13    4.0
14    0.0
15    0.0
16    0.0
19    0.0
20    0.0
22    0.0
Name: Numbers of Direct Deaths, dtype: float64

In [87]:
nuclear_incidents[nuclear_incidents['country'] == 'United States']['Numbers of Direct Deaths'].sum() # al agregar sum() me suma los eventos

7.0