In [1]:
8*8

64

In [2]:
a=8
b=8
a*b

64

In [3]:
a+b

16

In [4]:
a/b

1.0

In [5]:
5*a
2+b

10

In [6]:
2**3

8

In [7]:
exp=2
base=4
base**exp

16

In [1]:
10/3

3.3333333333333335

In [2]:
10//3

3

In [3]:
10%3

1

In [4]:
10%5

0

In [5]:
a==b

NameError: name 'a' is not defined

In [6]:
"a"=="b"

False

In [7]:
3==5

False

In [9]:
9!=4+5

False

In [10]:
num1=12
num2=16

In [11]:
num1>num2

False

In [12]:
num1<=num2

True

In [18]:
X=10

In [19]:
x+=5

In [20]:
print(x)

15

In [24]:
x-=2

In [25]:
print(x)

13

In [26]:
x=10

In [27]:
x*=2

In [28]:
print(x)

20

In [29]:
x=10

In [30]:
"Hola "+"Henry"

'Hola Henry'

In [31]:
"Hola"+" "+"Henry"

'Hola Henry'

In [33]:
("Hola "+"Henry")*3

'Hola HenryHola HenryHola Henry'

In [35]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [36]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [43]:
a=bool(1) #True
b=bool(1) #False

In [44]:
print(a^b)

False

In [46]:
cadena="Hola Mundo!"

In [49]:
cadena_mayuscula=cadena.upper()

In [50]:
print(cadena_mayuscula)

HOLA MUNDO!

In [51]:
invers=cadena_mayuscula.lower()

In [52]:
print(invers)

hola mundo!

In [53]:
cadena="Hola amigo, como estas?"
subcadenas=cadena.split()
print(subcadenas)

['Hola', 'amigo,', 'como', 'estas?']

In [54]:
num=3.5

In [56]:
type(num)

float

In [57]:
int(num)
print(type(num))

<class 'float'>

In [58]:
num="8.5"

In [59]:
type(num)

str

In [62]:
float(num)

8.5

In [65]:
num3=float(num) #convierto la variable num en float y la asigno a num3
print(num3)
print(type(num3))

8.5
<class 'float'>

In [66]:
x=10 #variable int
print(type(x))
y=str(x) #convierto a x en string y la asigno a y un string
print(type(y))

<class 'int'>
<class 'str'>

In [68]:
x=0
y=bool(x)
print(y)
print(type(y))

False
<class 'bool'>

In [69]:
x=1<<2 #desplazamiento a la izquierda de 2 posiciones
print(x)

4