Panda Series

In [2]:
import pandas as pd

In [18]:
# creacion de una serie a partir de una lista
numeros = pd.Series([2,3,4,5,6,None])
numeros

0    2.0
1    3.0
2    4.0
3    5.0
4    6.0
5    NaN
dtype: float64

In [4]:
numeros.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
numeros # por default el tipo de datos es float 64

0    2.0
1    3.0
2    4.0
3    5.0
4    6.0
5    NaN
dtype: float64

In [20]:
notas = pd.Series(dict({'juan':6,'alessia':7,'jimena':9}))
notas

juan       6
alessia    7
jimena     9
dtype: int64

In [26]:
# atributos de la serie

notas.index # muestra los indices del Diccionario o los numeros indices de la serie 
# Index(['juan', 'alessia', 'jimena'], dtype='object')

notas.size      # longitud del array
notas.dtype     # muestra que tipos de datos son los elementos del array
notas.count()   # cuenta la cantidad de elementos del array
notas.sum()     # suma los elementos del array

22

In [30]:
# Acceder a las posiciones del array por su indice 

numeros[1] # => devuelve el item en la posicion [1] que es 3.0

# Acceder a las posiciones del array por su posicion 

notas['juan']   # => devuelve las notas del key = juan que es 6

numeros[1]

3.0

In [37]:
numeros.sum()   # Devuelve la suma de los datos de la serie s cuando los datos son de un tipo numérico, o la concatenación de ellos cuando son del tipo cadena str. => 20
numeros.count() # Devuelve el número de elementos que no son nulos ni NaN en la serie => 5
numeros.cumsum()    #Devuelve la  suma acumulada de los elementos de la serie => 
numeros.value_counts() # Devuelve una serie con la frecuencia (número de repeticiones) de cada valor de la serie s.
numeros.describe() # resumen con la informacion de la serie de datos

count    5.000000
mean     4.000000
std      1.581139
min      2.000000
25%      3.000000
50%      4.000000
75%      5.000000
max      6.000000
dtype: float64

In [40]:
# aplicar operaciones a una serie

s  = pd.Series([1, 2, 3, 4])
s % 2 
s * 5

0     5
1    10
2    15
3    20
dtype: int64

In [8]:
# Aplicar funciones a una serie
numeros.apply(lambda x:x *2+1)      # Devuelve otra serie con la funcion aplicada a cada uno de los elementos de la serie

0     5.0
1     7.0
2     9.0
3    11.0
4    13.0
5     NaN
dtype: float64

In [9]:
## Aplicar funciones a una serie
funcion = lambda x:x * 2 + 1
numeros.apply(funcion)

0     5.0
1     7.0
2     9.0
3    11.0
4    13.0
5     NaN
dtype: float64

In [42]:
#aplico una mascara/filtro
numeros[numeros >3]

# aplico dos o mas condiciones: las condiciones deben estar entre () y unidas por un operador logico & or 
numeros[(numeros % 3 == 0) & (numeros > 2)]

1    3.0
4    6.0
dtype: float64

In [47]:
# Ordenar una serie

# Ordena por el indice no por el valor del elemento 
# sort index(ascending=Booleano) => True "orden ascendente"  => False : Orden descendente    

print(numeros.sort_index(ascending=False))
print(notas.sort_index(ascending=False))

# Ordena los elementos de la serie segun su valor, True => Ascendente  - False => Descendente
# sort values(ascending=Booleano)
numeros.sort_values(ascending=False)

5    NaN
4    6.0
3    5.0
2    4.0
1    3.0
0    2.0
dtype: float64

4    6.0
3    5.0
2    4.0
1    3.0
0    2.0
5    NaN
dtype: float64

In [63]:
print("asi se ordena por indice "+ "\n" + f' \n{notas.sort_index(ascending=True)}')
print("\n")
print("asi se ordena por valor del elemento "+ "\n"+ f' \n{notas.sort_values(ascending=False)}')

asi se ordena por indice

alessia    7
jimena     9
juan       6
dtype: int64


asi se ordena por valor del elemento

jimena     9
alessia    7
juan       6
dtype: int64

In [64]:
num = pd.Series([10,1,2,5,17,None,23,24])
print(num)

0    10.0
1     1.0
2     2.0
3     5.0
4    17.0
5     NaN
6    23.0
7    24.0
dtype: float64

In [17]:
#dropnan - elimina los datos nulos o desconocidos de una serie
num.dropna() # elimina el elemento 5 de la original pero 5 queda trunco

0    10.0
1     1.0
2     2.0
3     5.0
4    17.0
6    23.0
7    24.0
dtype: float64